In [1]:
import pandas as pd
import sys
from pathlib import Path

projectRoot = Path().resolve().parent
sys.path.append(str(projectRoot))
from src.data_loader import KaggleCSVLoader

In [2]:
# initializing the loader class
datasetName = 'dhrubangtalukdar/e-commerce-shopper-behavior-amazonshopify-based'
csvFilename = 'e_commerce_shopper_behaviour_and_lifestyle.csv'
rawDataDir = projectRoot / 'data' / 'raw'

loader = KaggleCSVLoader(
    dataset_name=datasetName,
    csv_filename=csvFilename,
    raw_data_dir=rawDataDir
)

rawdata_df = loader.run()
print(rawdata_df.shape)

raw_path = projectRoot / 'data' / 'raw' / csvFilename
rawdata_df.to_csv(raw_path, index = False)

Downloading the raw dataset from Kaggle
Dataset URL: https://www.kaggle.com/datasets/dhrubangtalukdar/e-commerce-shopper-behavior-amazonshopify-based
Loading the target csv into a DataFrame
(1000000, 60)

In [3]:
print(f'Shape of the raw dataframe: {rawdata_df.shape}')
rawdata_df.head()

Shape of the raw dataframe: (1000000, 60)

,user_id,age,gender,country,urban_rural,income_level,employment_status,education_level,relationship_status,has_children,...,cart_items_average,checkout_abandonments_per_month,purchase_conversion_rate,app_usage_frequency,notification_response_rate,account_age_months,last_purchase_date,social_sharing_frequency,premium_subscription,return_rate
0,1,56,Female,Germany,Suburban,90860,Self-employed,Associate Degree,Single,0,...,10,2,62,7,74,19,2025-06-22,6,1,50
1,2,69,Male,Japan,Suburban,35423,Unemployed,Bachelor,Single,1,...,5,7,54,5,23,8,2026-07-25,3,0,37
2,3,46,Female,India,Urban,21467,Self-employed,Associate Degree,Married,1,...,3,3,33,7,12,13,2026-02-26,6,0,53
3,4,32,Male,Canada,Urban,41770,Self-employed,Bachelor,Widowed,0,...,5,9,26,4,19,9,2026-10-27,7,0,98
4,5,60,Female,Japan,Urban,183882,Employed,Associate Degree,Widowed,1,...,8,0,18,7,30,3,2026-06-23,3,0,86